.header {
  display: flex;
  flex-direction: column;
  flex-grow: 5;
  gap: 1em;
}

.contact {
  flex-grow: 1;
  font-size: 0.9rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: var(--font-main);
  font-weight: 400;
}

.container--header {
  display: flex;
  align-items: center;
}

textarea:focus,
input:focus {
  outline: none;
}

input,
textarea {
  background-color: inherit;
  border: none;
  font-size: inherit;
  color: inherit;
}

.header__name {
  border-radius: 0.2em;
  text-transform: capitalize;
  font-size: 2rem;
  /* overflow-wrap: break-word;
  max-width: 40vw; */
  color: var(--font-main);
  font-weight: 700;
}

.header__title {
  color: var(--font-main);
  font-size: 1.3rem;
  font-weight: 500;
}
