.text-field {
  display: flex;
  max-width: 30rem;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.text-edit {
  position: absolute;
  background-color: rgba(20, 18, 18, 0.753);
  color: rgb(194, 223, 228);
  border-radius: 0.3em;
  padding: 0.1em;
}

.icon-minus,
.icon-check {
  color: rgb(0, 128, 111);
  z-index: 1;
}

.icon-minus {
  color: red;
}
