.text-field {
  display: flex;
  max-width: 30rem;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.text-para {
  overflow: auto;
  word-wrap: break-word;
}

.text-edit {
  position: absolute;
  background-color: var(--bg);
  color: var(--font-ad);
  border-radius: 0.5em;
  padding: 0.2em;
}

.icon-minus,
.icon-check {
  color: #76ba99;
  z-index: 1;
}

.icon-minus {
  color: #e94560;
}
