.skills-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em 0;
  color: var(--font-main);
}
.skill__entry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
}

.skill__del {
  color: #e94560;
  cursor: pointer;
}
