/* RESET */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: 'Roboto';
}

/* STYLE */

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  --card: #222831;
  --bg: #393e46;
  --font-main: #ffd369;
  --font-ad: #eeeeee;
  background-color: var(--bg);
}

.container {
  height: 90vh;
  width: 60vw;
  background-color: var(--card);
  padding: 3rem;
  border-radius: 0.3em;
}

.main-section {
  border-top: 2px solid var(--font-main);
  padding-top: 1em;
  margin-top: 5em;
  display: flex;
  flex-direction: row;
}

.add-entry {
  padding: 0.1rem 2em;
}

.add-entry:hover {
  cursor: pointer;
}

h3 {
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
  color: var(--font-ad);
  font-weight: 500;
}
